HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# Interview helper files (personal)
interview/**
*/interview
*/interview/**
interview

# test suite files
target/**
*/target
*/target/**
target

.git
.gitignore

<!-- This is the /data folder -->
data 


README.md
readme.md
docker-compose.yml